# Node
node_modules/
**/node_modules/
dist/
build/
.DS_Store

# Env files
.env*
client/.env*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.vscode/
.idea/

# Netlify
.netlify/
netlify/functions/*.zip

# Misc
client/DockerDesktopInstaller.exe
*.exe
